.App{
  display:flex;
  align-items:center;
  justify-content: center;
}
body{
  background: url('https://i.yapx.ru/TwTFy.gif');
  background-size: cover;
  background-attachment: fixed;
  scroll-behavior: smooth;
}